{
    "openapi": "3.0.1",
    "info": {
        "title": "Commerce Webservices",
        "description": "These services manage all of the common commerce functionality, and also include customizations from installed AddOns. The implementing extension is called commercewebservices.",
        "license": {
            "name": "Use of this file is subject to the terms of your agreement with SAP SE or its affiliates respecting the use of the SAP product for which this file relates.",
            "url": ""
        },
        "version": "2.2.1"
    },
    "externalDocs": {
        "description": "SAP Commerce Cloud",
        "url": "https://www.sap.com"
    },
    "servers": [
        {
            "url": "https://spartacus-demo.eastus.cloudapp.azure.com:8443/occ/v2",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "oauth2_Password": [
                "basic"
            ]
        },
        {
            "oauth2_client_credentials": [
                "extended"
            ]
        }
    ],
    "tags": [
        {
            "name": "PunchOut",
            "description": "PunchOut"
        }
    ],
    "paths": {
        
        "/basesites": {
            "get": {
                "tags": [
                    "Base Sites"
                ],
                "summary": "Get all base sites.",
                "description": "Get all base sites with corresponding base stores details in FULL mode.",
                "operationId": "getBaseSites",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DEFAULT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseSiteList"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseSiteList"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2_Password": [
                            "basic"
                        ]
                    },
                    {
                        "oauth2_client_credentials": [
                            "extended"
                        ]
                    }
                ]
            }
        }
    }
}
